{
        debug
        log {
                output stdout
                format console
                level {$CADDY_LOG_LEVEL}
        }
}

{$CADDY_DOMAIN} {
        tls {$CADDY_EMAIL}
        encode zstd gzip

        handle /api* {
                reverse_proxy {$CADDY_API_HOST}:{$CADDY_API_PORT} {
                        header_up Host {http.request.host}
                        header_up X-Real-IP {http.request.remote}
                        header_up X-Forwarded-For {http.request.remote}
                }
        }

        handle /log {
		reverse_proxy {$CADDY_API_HOST}:{$CADDY_API_PORT} {
			header_up Host {http.request.host}
			header_up X-Real-IP {http.request.remote}
			header_up X-Forwarded-For {http.request.remote}
		}
	}

        # Serve static files and handle React Router
        handle /* {
                root * /app/docs/
                try_files {path} /index.html
                file_server
        }
}
