VITE_API_URI=localhost:8080
VITE_API_SSL=false
VITE_DEV=true

VITE_AUTO_SCROLL_SPEED=15
VITE_AUTO_SCROLL_INTERVAL=2000
VITE_AUTO_SCROLL_ENABLED=false

# Set false to disable double rendering in development mode
VITE_STRICT_MODE=false

