.hidden {
    opacity: 0;
}

.tabs img {
    width: 24px;
    height: 24px;
}

.chordpro {
    font-family: monospace;
    /* font-family: "Roboto Mono", "Courier New", monospace; */
    white-space: nowrap;
    overflow-x: scroll;
}

.chordpro .title {
    font-size: 1.1em;
    font-weight: normal;
    font-style: italic;
}

.chordpro .subtitle {
    font-size: normal;
    font-style: italic;
}

.chordpro .chord {
    color: var(--mantine-color-chord-4);
    font-weight: 500;
    font-size: 1.1em;
    padding: 0;
}

.chordpro .lyrics {
    color: var(--mantine-color-lyrics-9);
    font-weight: 500;
    font-size: 1em;
    padding: 0;
}

/* Make Chords closer to corresponding Lyrics */
.chordpro tr:has(.chord) {
    position: relative;
    top: 0.3em;
    height: 1.5em;
}

/* Song needs slightly different font size for mobile */
@media (max-width: 1000px) {
    .chordpro .chord {
        font-size: 1.2em;
        font-weight: 700;
    }

    .chordpro .lyrics {
        font-size: 1.1em;
        font-weight: 500;
    }
}

/* Mark Chorus */
.chordpro .chorus {
    /* margin-left: 1em; */
    padding-left: 3em;
}

/* Chord hover */
.chordpro .chord:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* For correct display using Div Formatter */
.chordpro .row {
    display: flex;
    line-height: 150%;

    /* Make Chords closer to corresponding Lyrics  */
    margin-bottom: 1em;
}

.chordpro .chord:after,
.lyrics:after {
    content: '\200b'
}

.chordpro .empty-line {
    height: 1em;
}

.chordpro .chord:not(:last-child) {
    padding-right: 0.5em;
}

.chordpro .paragraph {
    margin-bottom: 1em;
}