.hidden {
    opacity: 0;
}

.tabs img {
    width: 24px;
    height: 24px;
}

.chordpro {
    font-family: "Roboto Mono", "Courier New", monospace;
}

.chordpro .title {
    font-size: 1.1em;
    font-weight: normal;
    font-style: italic;
}

.chordpro .subtitle {
    font-size: normal;
    font-style: italic;
}

.chordpro .chord {
    color: var(--mantine-color-chord-4);
    font-weight: 500;
    font-size: 1.1em;
}

.chordpro .lyrics {
    color: var(--mantine-color-lyrics-9);
    font-size: 1em;
}

.chordpro tr:has(.chord) {
    position: relative; top: 0.3em;
    height: 1.5em;  
}

/* Song needs slightly different font size for mobile */
@media (max-width: 1000px) {
    .chordpro .chord {
        font-size: 1.1em;
        font-weight: 700;
    }
    .chordpro .lyrics {
        font-size: 1em;
        font-weight: 600;
    }
}