.hidden {
    opacity: 0;
}

.tabs img {
    width: 24px;
    height: 24px;
}

.chordpro {
    font-family: "Roboto Mono", "Courier New", monospace;
}

.chordpro .title {
    font-size: 1.1em;
    font-weight: normal;
    font-style: italic;
}

.chordpro .subtitle {
    font-size: normal;
    font-style: italic;
}

.chordpro .chord {
    color: var(--mantine-color-chord-9);
    font-weight: 700;
    font-size: 1em;
}

.chordpro .lyrics {
    color: var(--mantine-color-lyrics-9);
    font-size: 0.9em;
}

.chordpro tr:has(.chord) {
    position: relative; top: 0.3em;
    height: 1.5em;  
}