{
  "port": 9000,
  "sqlite_file": "dev.sqlite",
  "secret": "topsecret",
  "access_token_expires_in_seconds": 86400,
  "logger_env": "dev",
  "logger_level": "info",
  "logger_levels": {
    "db": "debug",
    "client": "debug"
  }
}
